<div
  bsModal
  #addNewSongModal="bs-modal"
  class="modal fade stick-up"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addNewSongModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header clearfix ">
        <button
          type="button"
          class="close"
          (click)="addNewSongModal.hide()"
          aria-hidden="true"
        >
          <i class="pg pg-close fs-14"></i>
        </button>
        <h4 class="p-b-5"><span class="semi-bold">Add </span>Song</h4>
      </div>
      <div class="modal-body">
        <p class="small-text">
          Add a new song.
        </p>
        <form role="form" autocomplete="off" [formGroup]="songForm">
          <div class="row">
            <div class="col-sm-12">
              <div
                class="form-group form-group-default input-group required"
                [class.has-error]="
                  title.invalid && (title.dirty || title.touched)
                "
              >
                <div class="form-input-group">
                  <label>Song Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="title"
                    required
                    placeholder="Enter Song Name"
                  />
                </div>
                <div class="input-group-append">
                  <span class="input-group-text"
                    ><i class="fa fa-user-circle" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <label>User Type</label>
              <div class="radio radio-primary">
                <input
                  type="radio"
                  checked="checked"
                  value="Paid"
                  name="type"
                  id="Paid"
                  [(ngModel)]="userType"
                  [ngModelOptions]="{ standalone: true }"
                />
                <label for="Paid">Paid Song Song</label>
                <input
                  type="radio"
                  value="Free"
                  name="type"
                  id="free"
                  [(ngModel)]="userType"
                  [ngModelOptions]="{ standalone: true }"
                />
                <label for="free">Free Song</label>
              </div>
            </div>
            <div class="col-sm-6">
              <label>Upload Song</label>
              <br />
              <pg-upload
                [Multiple]="false"
                [Limit]="0"
                (Change)="handleChange($event)"
              >
                <div class="pic-placeholder">
                  <i
                    class="fa fa-cloud-upload p-b-5"
                    style="font-size: 21px;"
                  ></i>
                  <div class="fs-12">Upload</div>
                </div>
              </pg-upload>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          id="add-app"
          type="button"
          class="btn btn-primary  btn-cons"
          (click)="addSong()"
          [class.disabled]="songForm.invalid"
          [disabled]="songForm.invalid"
        >
          Add
        </button>
        <button
          type="button"
          class="btn btn-cons"
          (click)="addNewSongModal.hide()"
        >
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<nav
  class="navbar navbar-default bg-master-lighter sm-padding-10 full-width p-t-0 p-b-0"
  role="navigation"
>
  <div class="full-width">
    <pg-container>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="sub-nav">
        <div class="row mt-4 mb-3">
          <div class="col-sm-12">
            <ul class="navbar-nav d-flex flex-row justify-content-sm-end">
              <li class="nav-item">
                <button
                  *ngIf="user?.roles.singer || user?.roles.producer"
                  type="button"
                  (click)="showModal()"
                  class="btn btn-primary btn-cons btn-animated from-left fa fa-plus"
                >
                  <span>Add Song</span>
                </button>
                <p *ngIf="user?.membership.status != 'active'">
                  <span>* You can not upload until you get subscription.</span>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.navbar-collapse -->
    </pg-container>
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- START CONTAINER FLUID -->
<pg-container>
  <div class="row mb-5">
    <div class="col-md-7">
      <pg-container>
        <nav
          class="navbar navbar-default bg-light sm-padding-10 mt-5 p-t-0 p-b-0"
          role="navigation"
          mt-4
        >
          <div class="full-width">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="sub-nav">
              <div class="row mt-2 mb-2">
                <div class="col-sm-4 p-l-0">
                  <ul
                    class="navbar-nav d-flex flex-row justify-content-sm-start text-uppercase"
                  ></ul>
                </div>
                <div class="col-sm-8 p-r-0">
                  <ul class="navbar-nav d-flex flex-row justify-content-sm-end">
                    <li class="nav-item">
                      <div class="btn-group">
                        <button
                          [hidden]="selected.length == 0"
                          (click)="addToPlaylist()"
                          class="btn btn-default btn-cons"
                        >
                          <span>
                            <i
                              class="fa fa-check-circle text-success"
                              aria-hidden="true"
                            ></i>
                            Add</span
                          >
                        </button>
                      </div>
                    </li>
                    <li class="nav-item">
                      <div class="input-group transparent">
                        <div class="input-group-prepend">
                          <span class="input-group-text transparent"
                            ><i class="pg pg-search"></i>
                          </span>
                        </div>
                        <input
                          type="text"
                          class="form-control pull-right"
                          placeholder="Search"
                          (keyup)="updateFilterSearch($event)"
                        />
                      </div>
                    </li>
                    <li class="nav-item mr-3">
                      <div class="btn-group dropdown dropdown-default" dropdown>
                        <button
                          class="btn dropdown-toggle"
                          type="button"
                          dropdownToggle
                        >
                          <i
                            class="fa fa-circle"
                            [ngClass]="{
                              'text-success': statusSort == 'Paid',
                              'text-primary': statusSort == 'Free'
                            }"
                          ></i
                          ><span> {{ statusSort }}</span>
                        </button>
                        <div *dropdownMenu class="dropdown-menu" role="menu">
                          <a
                            class="dropdown-item"
                            href="javascript:void(0)"
                            (click)="updateFilterStatus('Free')"
                            ><i
                              class="fa fa-circle text-primary"
                              aria-hidden="true"
                            ></i>
                            Free</a
                          >
                          <a
                            *ngIf="user.membership.status == 'active'"
                            class="dropdown-item"
                            href="javascript:void(0)"
                            (click)="updateFilterStatus('Paid')"
                            ><i
                              class="fa fa-circle text-success"
                              aria-hidden="true"
                            ></i>
                            Paid</a
                          >
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </nav>
        <!-- /.navbar-collapse -->
      </pg-container>

      <pg-container>
        <!-- START card -->
        <div class="card">
          <div class="card-header ">
            <div class="card-title">Songs</div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <ngx-datatable
                #table
                class="table table-hover"
                [rows]="songsRows"
                [columnMode]="columnModeSetting"
                [headerHeight]="43"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [selectionType]="'checkbox'"
                [selected]="selected"
                [scrollbarH]="scrollBarHorizontal"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
              >
                <ngx-datatable-column
                  [width]="40"
                  [sortable]="false"
                  [canAutoResize]="false"
                  [draggable]="false"
                  [resizeable]="false"
                  cellClass="d-flex align-items-center"
                >
                  <ng-template
                    ngx-datatable-cell-template
                    let-rowIndex="rowIndex"
                    let-row="row"
                    let-value="value"
                    let-isSelected="isSelected"
                    let-onCheckboxChangeFn="onCheckboxChangeFn"
                  >
                    <div class="checkbox d-flex align-items-center">
                      <input
                        type="checkbox"
                        value="1"
                        id="checkbox_1{{ rowIndex }}"
                        [checked]="isSelected"
                        (change)="onCheckboxChangeFn($event)"
                      />
                      <label for="checkbox_1{{ rowIndex }}"></label>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  [width]="650"
                  name="title"
                  cellClass="d-flex align-items-center"
                >
                  <ng-template
                    let-row="row"
                    let-value="value"
                    ngx-datatable-cell-template
                  >
                    <a href="javascript:void(0)">{{ value }}</a>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  name="type"
                  cellClass="d-flex align-items-center"
                >
                  <ng-template
                    let-row="row"
                    let-value="value"
                    ngx-datatable-cell-template
                  >
                    <span
                      class="label mt-1"
                      [ngClass]="{
                        'label-success': value === 'Paid',
                        'label-warning': value === 'General'
                      }"
                      >Song {{ value }}</span
                    >
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
        <!-- END card -->
      </pg-container>
    </div>
    <div class="col-md-5">
      <mat-advanced-audio-player
        [playlist]="msaapPlaylist"
        [displayTitle]="msaapDisplayTitle"
        [displayPlaylist]="msaapDisplayPlayList"
        [pageSizeOptions]="msaapPageSizeOptions"
        [expanded]="true"
      ></mat-advanced-audio-player>
    </div>
  </div>
</pg-container>
