<pg-container>
  <div class="row mt-5 mb-5 text-center">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center align-middle">
      <p class="small-text">
        Selected Event Details!
      </p>

      Members:

      <ul>
        <li *ngFor="let member of event.members">
          {{ member.name - member.email }}
        </li>
      </ul>
    </div>
  </div>
</pg-container>
