<div
  bsModal
  #addNewUserModal="bs-modal"
  class="modal fade stick-up"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addNewUserModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header clearfix ">
        <h4 class="p-b-5"><span class="semi-bold">Create </span>New User</h4>
        <button
          type="button"
          class="close"
          (click)="addNewUserModal.hide()"
          aria-hidden="true"
        >
          <i class="pg pg-close fs-14"></i>
        </button>
      </div>
      <div class="modal-body">
        <p class="small-text">
          Create a new user using this form, make sure you fill them all.
        </p>
        <form role="form" autocomplete="off" [formGroup]="userForm">
          <div class="row">
            <div class="col-sm-12">
              <div
                class="form-group form-group-default input-group required"
                [class.has-error]="name.invalid && (name.dirty || name.touched)"
              >
                <div class="form-input-group">
                  <label>Full name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="name"
                    required
                    placeholder="Enter valid full name"
                  />
                </div>
                <div class="input-group-append">
                  <span class="input-group-text"
                    ><i class="fa fa-user-circle" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div
                class="form-group form-group-default input-group required"
                [class.has-error]="
                  email.invalid && (email.dirty || email.touched)
                "
              >
                <div class="form-input-group">
                  <label>Email</label>
                  <input
                    type="text"
                    placeholder="Enter valid email address"
                    class="form-control"
                    formControlName="email"
                    required
                  />
                </div>
                <div class="input-group-append">
                  <span class="input-group-text"
                    ><i class="fa fa-envelope-o" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div
                class="form-group form-group-default input-group required"
                [class.has-error]="
                  password.invalid && (password.dirty || password.touched)
                "
              >
                <div class="form-input-group">
                  <label>Password</label>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="password"
                    placeholder="Min length 8 characters"
                    required
                  />
                </div>
                <div class="input-group-append">
                  <span class="input-group-text"
                    ><i class="fa fa-key" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Upload Photo</label>
              <br />
              <pg-upload
                ListType="picture-card"
                [Multiple]="false"
                [Limit]="0"
                (Change)="handleChange($event)"
              >
                <div class="pic-placeholder">
                  <i
                    class="fa fa-cloud-upload p-b-5"
                    style="font-size: 21px;"
                  ></i>
                  <div class="fs-12">Upload</div>
                </div>
              </pg-upload>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          id="add-app"
          type="button"
          class="btn btn-primary  btn-cons"
          (click)="addUser()"
          [class.disabled]="userForm.invalid"
          [disabled]="userForm.invalid"
        >
          Sign Up
        </button>

        <button class="btn btn-danger btn-cons" (click)="googleSignup()">
          <i class="fa fa-google" aria-hidden="true"></i> Sign in with Google
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="login-wrapper ">
  <!-- START Login Background Pic Wrapper -->
  <div class="bg-pic">
    <!-- START Background Pic -->
    <img src="../../../assets/img/music.jpg" alt="" class="lazy" />
    <!-- END Background Pic -->
    <!-- START Background Caption -->
    <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
      <h2 class="semi-bold text-white">
        TechTunes - Smart Web Application for music lovers.
      </h2>

      <p class="small">
        Provision of web-based interface for users to upload music, add events
        and view live streams
      </p>
    </div>
    <!-- END Background Caption -->
  </div>
  <!-- END Login Background Pic Wrapper -->
  <!-- START Login Right Container -->
  <div class="login-container bg-white">
    <div
      class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40"
      style="margin-top: 160px"
    >
      <!-- <img src="assets/img/logo.png" alt="logo" width="300px" height="auto" /> -->
      <h2 class="bold">TechTuned</h2>

      <p class="p-t-35">Sign into your account</p>
      <!-- START Login Form -->
      <form
        class="p-t-15"
        role="form"
        #loginForm="ngForm"
        (ngSubmit)="onSubmit()"
      >
        <!-- START Form Control -->
        <div
          pgFormGroupDefault
          class="form-group form-group-default"
          [class.has-error]="email.invalid && (email.dirty || email.touched)"
        >
          <label>Login</label>
          <input
            type="email"
            id="userName"
            name="userName"
            formControl="email"
            required
            placeholder="User Name"
            class="form-control"
          />
        </div>
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <label *ngIf="email?.invalid" class="error"
            >This field is required.</label
          >
        </div>
        <!-- END Form Control -->
        <!-- START Form Control -->
        <div
          pgFormGroupDefault
          class="form-group form-group-default"
          [class.has-error]="
            password?.invalid && (password?.dirty || password?.touched)
          "
        >
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Credentials"
            formControl="password"
            required
          />
        </div>
        <div
          *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        >
          <label *ngIf="password?.invalid" class="error"
            >This field is required.</label
          >
        </div>
        <!-- START Form Control -->
        <div class="row">
          <div class="col-md-6 no-padding sm-p-l-10">
            <div class="checkbox ">
              <input type="checkbox" value="1" checked id="checkbox1" />
              <label for="checkbox1">Keep Me Signed in</label>
            </div>
          </div>
        </div>
        <!-- END Form Control -->
        <button
          class="btn btn-default btn-block btn-cons m-t-10"
          type="submit"
          [class.disabled]="loginForm.invalid"
        >
          Sign in
        </button>
      </form>
      <button
        class="btn btn-danger btn-block btn-cons m-t-10"
        (click)="googleLogin()"
      >
        <i class="fa fa-google" aria-hidden="true"></i> Sign in with Google
      </button>

      <button
        class="btn btn-primary btn-block btn-cons m-t-10"
        (click)="facebookLogin()"
      >
        <i class="fa fa-facebook" aria-hidden="true"></i> Sign in with Facebook
      </button>

      <button
        class="btn btn-success btn-block btn-cons m-t-10"
        (click)="addNewUserModal.show()"
      >
        <i class="fa fa-plus" aria-hidden="true"></i> Sign Up
      </button>
      <!-- END Login Form -->
    </div>
  </div>
  <!-- END Login Right Container -->
</div>
